/* .button {
    -fx-font-weight: bold;
} */

.background{
    -fx-background-color: linear-gradient(to bottom right, #0f0c29 24%, #302b63 50%, #24243e 74%);
}

.label{
    -fx-text-fill: rgb(0, 0, 0);
}